@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 body{
     font-family: 'Barlow Condensed', sans-serif;
     font-weight: 300;
     color: #2D3A32;
 }

 /* 1200 */
main{
    width: 1200px;
    margin: auto;
}
    #testimonios{
        background-color: #D8F0E2;
        display: flex;
        flex-wrap: wrap;
        column-gap: 34px;
        row-gap: 48px;
        padding: 48px 32px;
    }
        #testimonios article{
            width: 356px;
            height: 305px;
            border-radius: 8px;
            background-color: #fff;
            text-align: center;
            padding: 24px 20px;
        }
            #testimonios article img{
                width: 128px;
            }

/* hasta 1024px */
@media (max-width: 1024px) {
    main{
        width: 1024px;
    }
    #testimonios{
        column-gap: 68px;

        padding: 48px 62px;
    }
        #testimonios article{
            width: 416px;
        }
}